.title {
    margin-left: 16px;
}

.content {
    margin: 16px;
}

.add-field {
    margin: 0;
}

.list-item {
    font-size: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alias-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alias-word {
    width: 100px;
}

.delete-button:hover {
    background-color: #e0e0e0;
}
