.content {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 90%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.button {
    margin-right: 8px;
}

.button:hover {
    background-color: #e0e0e0;
}

.submit-button-img {
    height: 24px;
    width: 24px;
}
